---
interface Props {
	content: {
		title: string;
		body: string;
		listTitle: string;
		listItems: string[];
		link: string;
	};
	href?: string;
}

const { href, content } = Astro.props;
---

<div
	class="outline outline-slate-300 outline-1 rounded-md card-one transform transition duration-300 hover:scale-103 hover:shadow-2xl"
>
	<button
		><div class="text-xl font-bold text-slate-600 m-3 underline">
			{content.title}
		</div></button
	>
	<div class="text-lg text-slate-400 mx-3 mb-2">{content.body}</div>
	<!-- <span>{content.listTitle}</span> -->
	<ul class="list-disc pl-8 pb-3 text-slate-600">
		{content.listItems.map((item) => <li>{item}</li>)}
	</ul>
	<!-- <div class="flex justify-center">
		<button class="button-one m-3">test button</button>
	</div> -->
</div>
<style>
	.button-one {
		@apply text-slate-600 py-1 px-5 rounded-md border-2 border-slate-500 transform transition duration-300 hover:bg-white hover:text-gray-900;
	}

	.card-one {
		@apply hover:shadow-lg;
	}
</style>
