<!-- Education -->
<div class="py-5">
  <div class="text-xl font-semibold text-slate-600 pb-4">Education</div>
  <!-- Algonquin College-->
  <div>
    <div class="font-semibold">
      <span class="pr-4">2021</span> Computer Programmer Diploma, Algonquin
      College, Ottawa ON
    </div>
    <ul class="list-disc pl-20 py-4">
      <li>Dean's Honours List; GPA 3.95 / 4.00</li>
      <li>
        Selected Coursework: Web Development (HTML, CSS, JavaScript),
        Object-Oriented Programming (Java), Database (Oracle, SQL), Android App
        Development (Android Studio, Java)
      </li>
      <li>Projected program completion date: August 20, 2021</li>
    </ul>
  </div>
  <!-- University of Queensland -->
  <div>
    <div class="font-semibold">
      <span class="pr-4">2013</span> Bachelor of Business Management, The
      University of Queensland, Brisbane, Australia
    </div>
  </div>
</div>
<!-- Work History -->
<div class="py-5">
  <div class="text-xl font-semibold text-slate-600 pb-4">Current Postion</div>
  <div>
    I currently work full-time as an application developer for the Canada Border
    Service Agency. I primary work on the front-end of a complex web
    application. I have been with the CBSA for approximatley 3 years, with my
    first year as a student employee, and the last two years as a full-time
    developer. Technologies include:
    <ul class="list-disc pl-20 py-4">
      <li>Angular 14</li>
      <li>Vue JS</li>
      <li>TailwindCSS</li>
      <li>TypeScript</li>
      <li>AWS services (Dynamo, Lambda, S3, CloudWatch, Codecommit)</li>
      <li>SonarCude</li>
    </ul>
  </div>
  <div class="py-5"></div>
  <div class="text-xl font-semibold text-slate-600 pb-4">
    Additional History
  </div>
  <div class="grid grid-cols-2">
    <!-- Sail -->
    <div>
      <span class="font-semibold">Sales Associate,</span>&nbsp; Sail Plein Air,
      Ottawa ON
    </div>
    <div class="text-end">2017 - 2019</div>
    <!-- Mercy Health -->
    <div>
      <span class="font-semibold">Accounts Clerk,</span>&nbsp; Mercy Health Aged
      Care, Perth, Australia
    </div>
    <div class="text-end">2016 - 2017</div>
    <!-- Tranzmile -->
    <div>
      <span class="font-semibold">Accounts and Administration,</span>&nbsp;
      Tranzmile, Brisbane, Australia
    </div>
    <div class="text-end">2014 - 2015</div>
  </div>
</div>
<!-- Connect -->
<div class="py-5">
  <div class="text-xl font-semibold text-slate-600 pb-4">Want To Connect?</div>
  <div>
    Check out <a
      class="text-blue-600"
      href="https://www.linkedin.com/in/stuart-barker-a2328050/"
      >my linkedIn page</a
    >, or my
    <a class="text-blue-600" href="https://github.com/Stuart585">Github</a> or
    send me an email at stuart.barker@uqconnect.edu.au
  </div>
</div>
