<!-- Education -->
<div>
  <div class="heading-secondary pb-4">Education</div>
  <div>
    <div class="heading-tertiary pt-3">
      Computer Programmer Diploma, Algonquin College, Ottawa ON - Graduated 2021
    </div>
    <p>
      Graduated on the Dean's Honours List with a GPA of 3.95. Coursework
      included Web Development (HTML, CSS, JavaScript), Java application
      development, Object-Oriented Programming, Database (Oracle, SQL), and
      Android App Development
    </p>
  </div>
  <div>
    <div class="heading-tertiary pt-3">
      Bachelor of Business Management, The University of Queensland, Brisbane,
      Australia - Graduated 2013
    </div>
    <p>
      A comprehensive education in finance, marketing, human resources, and
      strategic management. I developed strong analytical and problem-solving
      skills, with a practical focus on real-world applications.
    </p>
  </div>
</div>
<!-- Work History -->
<div class="pt-5">
  <div class="heading-secondary pb-4">Experience</div>
  <div class="heading-tertiary pt-3">
    Canada Border Service Agency - 2020 to present
  </div>
  <p>
    I currently work full-time as an application developer for the Canada Border
    Service Agency, primarily working on front-end web apps. I work as part of
    an agile team, along side other developers, analysts, and project leads.
    Technologies include: Angular 15, Vue 3, TailwindCss, TypeScript, AWS
    (DynamoDb, Lambda, S3, CloudWatch).
  </p>

  <div class="heading-tertiary pt-3">Sail Plein Air - 2017-2019</div>
  <p>Sales associate at one of Ottawas pemier outdoor supplies store.</p>

  <div class="heading-tertiary pt-3">Mercy Health Aged Care - 2016 - 2017</div>
  <p>
    Accounts and administration for the largest aged care provider in Perth, WA.
  </p>

  <div class="heading-tertiary pt-3">
    Tranzmile Truck and Trailer Parts - 2014 - 2015
  </div>
  <p>Accounts and administration for Tranzmile.</p>
</div>
<!-- Connect -->
<div class="pt-5">
  <div class="heading-secondary pb-4">Want To Connect?</div>
  <div>
    Check out <a
      class="text-blue-600"
      href="https://www.linkedin.com/in/stuart-barker-a2328050/"
      >my linkedIn page</a
    >, or my
    <a class="text-blue-600" href="https://github.com/Stuart585">Github</a> or
    send me an email at stuart.barker@uqconnect.edu.au
  </div>
</div>

<style>
  .heading-secondary {
    @apply text-3xl font-semibold text-slate-600;
  }

  .heading-tertiary {
    @apply text-lg font-semibold text-slate-600;
  }

  p {
    @apply text-slate-600 py-3;
  }
</style>
